<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <!-- For camera streaming and GA access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".app.MainApp"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TrackCamMonitorApp"
            tools:targetApi="31">

        <!-- application extractNativeLibs=true is needed to prevent INSTALL_FAILED_INVALID_APK
             when installing JNI libs on API 23+. -->

        <profileable android:shell="true"/>

        <activity
                android:name=".activity.MainActivity"
                android:launchMode="singleTop"
                android:theme="@style/Theme.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.PrefsActivity"
                android:launchMode="singleTop"
                android:exported="false"
                android:label="@string/prefs__activity_title" />

        <activity
                android:name=".activity.ExportActivity"
                android:launchMode="singleTop"
                android:exported="true"
                android:label="@string/export__activity_title">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>
